button{
    background-color: brown;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: azure;
}

.contenedor{
    width: 500px;
    height: 300px;
    background-color: rgb(177, 177, 70);
}